$linear-gradient-from: hsl(249, 99%, 64%);
$linear-gradient-to: hsl(278, 94%, 30%);
$red: hsl(0, 100%, 66%);
$white: hsl(0, 0%, 100%);
$light-grayish-violet: hsl(270, 3%, 87%);
$dark-grayish-violet: hsl(279, 6%, 55%);
$very-dark-violet: hsl(278, 68%, 11%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Space Grotesk", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

label[for] {
  text-transform: uppercase;
  font-size: 0.75em;
}

.inputs {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  min-height: 80%;

  input {
    font-size: 1em;
    border-radius: 5px;
    padding: 0.5em;
    min-width: 100%;
    border: solid 1px $light-grayish-violet;
    margin-top: 0.3em;

    &::placeholder {
      color: $dark-grayish-violet;
    }
  }

  .input-wrapper {
    min-width: 100%;
    max-width: 100%;
  }

  .exp-date-wrapper {
    input {
      &#cvc {
        max-width: 100%;
        font-size: 18px !important;
      }

      min-width: 40%;
      max-width: 40%;
    }
    padding-top: 0.3em;
    display: flex;
    justify-content: space-between;
    min-width: 100%;
  }
}

label[for="cvc"] {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

label[for="exp-month"] {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

#exp-month {
  font-size: 18px;
  margin-right: 10px;
}

#exp-year {
  font-size: 18px;
}

.background-mobile {
  min-width: 100%;
  max-height: 40%;
}
.submit {
  min-width: 100%;
  padding: 1em 2em;

  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: $white;
  background-color: $very-dark-violet;
  font-weight: 500;
  font-family: "Space Grotesk", sans-serif;

  &:hover {
    background-color: hsl(278, 92%, 42%);
    transition: background-color 250ms ease-out;
  }
}

.margin {
  margin: 0 2em;
  min-height: 50%;
}


/**/
